/*
paleta de colores:
black 00000
oxford blue 14213D - acr (1A202D)
orange web FCA311 - acr (D0A866)
platinum E5E5E5
white FFFFF
*/

body {
    background-color: rgb(34, 34, 34);
    color: white;
    padding-left: 70px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70px;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
    transition: 0.5s;
}

.sidebar:hover {
    width: 170px;
}

.sidebar button {
    margin: 10px 0;
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.sidebar button:hover {
    color: #0d6efd;
}

.custom-logotipo {
    width: 50px;
}

.img-profile {
    width: 50%;
    /* Para móviles */
    max-width: 300px;
    /* Máximo en móvil */
}

/*contenedor acerca de mí-----------------------*/
.container-me {
    position: relative;
}


.container-me-info {
    overflow: hidden;
    transition: 1s;
}

/*transiciones----------------------------*/
/*agregar estos atributos para transicionar un show up*/

.element-showup {
    opacity: 0;
}

.element-showup.visible {
    animation: showup 1s ease-out forwards;
}

@keyframes showup {
    0% {
        opacity: 0;
        transform: translateY(20px);
        /* Mueve el elemento 20px hacia abajo */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Vuelve a su posición original */
    }
}


/* En pantallas pequeñas, limita la altura al 40% */
@media (max-width: 767.98px) {
    .container-me-info {
        max-height: 10vh;

        /* 40% del viewport height */
    }

    /* Cuando se agrega la clase "expanded", muestra el contenido completo */
    .container-me-info.expanded {
        max-height: 100vh;
        /* Un valor suficientemente grande */
    }
}

/*estilos de tarjetas de proyectos*/
.project-card {
    width: 30%;
    background-color: blueviolet;
}

@media (min-width: 768px) {

    /* Pantallas medianas y grandes */
    .custom-title {
        font-size: 1.3rem;
    }

    .custom-subtitle {
        font-size: 1.5rem;
    }

    /* Tablet + Desktop */
    .img-profile {
        width: 80%;
        max-width: 280px;
        min-width: 200px;
    }
}

@media (min-width: 992px) {

    /* Pantallas grandes */
    .custom-title {
        font-size: 1.5rem;
    }

    .custom-subtitle {
        font-size: 2rem;
    }
}