/*
paleta de colores:
black 00000
oxford blue 14213D - acr (1A202D)
orange web FCA311 - acr (D0A866)
platinum E5E5E5
white FFFFF
*/

.custom-logotipo {
    width: 50px;
}

.custom-height-banner {
    height: 10000px;
    /* Por defecto: 100% del viewport height */
}

.custom-banner-pt {
    padding-top: 6rem;
    /* 96px */
}

.custom-title {
    font-size: 1rem;
    /* Tamaño base */
}

.custom-subtitle {
    font-size: 1.5rem;
    /* Tamaño base */
}

/*contenedor acerca de mí-----------------------*/
.container-me {
    position: relative;
}


.container-me-info {
    overflow: hidden;
    transition: 1s;
}

/*transiciones----------------------------*/
/*agregar estos atributos para transicionar un show up*/

.element-showup {
    opacity: 0;
}

.element-showup.visible {
    animation: showup 1s ease-out forwards;
}

@keyframes showup {
    0% {
        opacity: 0;
        transform: translateY(20px);
        /* Mueve el elemento 20px hacia abajo */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Vuelve a su posición original */
    }
}


/* En pantallas pequeñas, limita la altura al 40% */
@media (max-width: 767.98px) {
    .container-me-info {
        max-height: 10vh;

        /* 40% del viewport height */
    }

    /* Cuando se agrega la clase "expanded", muestra el contenido completo */
    .container-me-info.expanded {
        max-height: 100vh;
        /* Un valor suficientemente grande */
    }
}

/*estilos de tarjetas de proyectos*/
.project-card {
    width: 30%;
    background-color: blueviolet;
}

@media (min-width: 768px) {

    /* Pantallas medianas y grandes */
    .custom-title {
        font-size: 1.3rem;
    }

    .custom-subtitle {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {

    /* Pantallas grandes */
    .custom-title {
        font-size: 1.5rem;
    }

    .custom-subtitle {
        font-size: 2rem;
    }
}